.component {
  display: grid;
  gap: 50px;
  padding: 20px;
  box-shadow: -2px 4px 6px 0px rgb(200 210 220 / 60%);
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: all 0.5s ease;
  cursor: pointer;
}

.component:hover {
  box-shadow: -2px 4px 6px 0px rgb(150 150 150 / 60%);
}

.col {
  display: grid;
  gap: 15px;
}

.title {
  margin: 0;
  font-size: 18px;
}

.type {
  margin: 0;
  color: #bbb;
}

.balance {
  font-size: 28px;
  font-weight: bold;
}
